.pictures {
    width: 50%;
    height: auto;
}

main {
    background: linear-gradient(to left top, brown, gold);
}

.guitar-card {
    border: solid black 1px;
    border-radius: 1px;
}

.anchor {
    padding: 20px;
}

p {
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.655);
}

.detail-image {
    width: 50%;
    height: auto;
}

.guitar-main-section {
    align-items: center;
}
